.skill-card {
  // aspect-ratio: 3/4;
  border: 2px solid red;
  padding: 3em 2em;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 2rem;
  overflow: hidden;

  &__img {
    aspect-ratio: 1;
    width: 100px;
  }

  &__progress {
    position: absolute;
    inset: 87% 5% 5% 5%;
    padding: 0.2rem;
    background-color: red;
    border-radius: 200rem;

    &-bar {
      height: 100%;
      background-color: rgb(96, 183, 96);
      border-radius: inherit;
    }
  }
}
