mixin skill_card(data)
  .skill-card.cards
    img.skill-card__img(src=data.url, alt='skill_img')
    p.skill-card__name= data.name
    .skill-card__progress
      .skill-card__progress-bar(style=`width:${data.progress}%`)
