.certification-card {
  display: flex;
  padding: 1em 2rem;
  gap: 1rem;
  border: 2px solid red;
  border-radius: 1rem;
  text-decoration: none;
  color: black;
  flex-basis: 0;
  min-width: fit-content;

  &:hover {
    color: black;
  }

  &__img {
    aspect-ratio: 1;
    width: 75px;
    border-radius: 5%;
  }

  &__content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__name {
    font-weight: bold;
    line-height: 1.5;
  }
}
