@use '../../scss/abstracts' as *;

.certification-card {
  display: flex;
  padding: 1em 2rem;
  gap: 2rem;
  border-radius: 1rem;
  text-decoration: none;
  color: black;
  flex-basis: 0;
  justify-content: center;
  align-items: center;
  min-width: fit-content;

  &:hover {
    color: black;
  }

  &__img {
    aspect-ratio: 1;
    width: 75px;
    border-radius: 5%;
  }

  &__content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
  }

  &__name {
    line-height: 1.5;
  }

  @include mq(xs, sm) {
    flex-direction: column;
    gap: 1rem;

    &__content {
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }
}
