@use '../../scss/abstracts' as *;

.certification-card {
  display: flex;
  padding: 1em 2rem;
  gap: 1rem;
  border-radius: 1rem;
  text-decoration: none;
  color: black;
  flex-basis: 0;
  justify-content: center;
  align-items: center;
  min-width: fit-content;

  @media screen and (max-width: map-get($grid-breakpoints, sm)) {
    flex-wrap: wrap;
  }

  &:hover {
    color: black;
  }

  &__img {
    aspect-ratio: 1;
    width: 75px;
    border-radius: 5%;
  }

  &__content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__name {
    line-height: 1.5;
  }
}
