@use '../../scss/abstracts' as *;

.navbar {
  background-color: map-get($primary, 300);
  color: map-get($primary, 500);

  &-transparent {
    background-color: transparent;
    background-image: linear-gradient(black, transparent);
    color: map-get($primary, 300);
    font-weight: bold;
    font-size: 150%;
    @include mq(xs, lg) {
      background-image: none;
      font-weight: normal;
      font-size: 100%;
      background-color: map-get($primary, 300);
      color: map-get($primary, 500);
    }
  }

  &-collapse {
    justify-content: center;
  }

  &-nav {
    width: 70%;
    justify-content: space-around;

    @include mq(xs, lg) {
      width: 100%;
    }
  }

  &-toggler {
    &:focus {
      box-shadow: 0 0 0 $spacer-r * 0.25 map-get($primary, 500);
    }

    &-icon {
      background-image: url('https://img.icons8.com/ios-glyphs/30/000000/menu--v1.png');
    }
  }
}

.nav {
  &-item {
    display: flex;
    justify-content: center;
  }
  &-link {
    color: inherit;
    text-align: center;
    transition: all 100ms ease;
    line-height: normal;
    position: relative;
    overflow: hidden;
    width: fit-content;

    &-active,
    &:hover,
    &:focus {
      color: inherit;
      font-weight: bold;
      transform: translateY(-5%) scale(1.2);
      &::before {
        transform: translateX(0%) translateY(-100%);
      }
    }

    &-active {
      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 10%;
        border-radius: 2rem;
        inset: auto 0 0 0;
        background-color: map-get($secondary, 200);
        transform: translateY(-100%);
      }
    }

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 10%;
      border-radius: 2rem;
      inset: auto 0 0 0;
      background-color: map-get($secondary, 400);
      transform: translateX(-100%) translateY(-100%);
      transition: all 200ms ease-in-out;
    }
  }
}
