@use '../../scss/abstracts' as *;

.project-card {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  padding: 1em 2rem;
  gap: 1rem;
  border: 2px solid red;
  border-radius: 1rem;
  // min-width: fit-content;

  @media screen and (max-width: map-get($grid-breakpoints, sm)) {
    flex-wrap: wrap;
  }

  @media screen and (min-width: map-get($grid-breakpoints, xl)) {
    max-width: 45%;
  }

  &:hover {
    color: black;
  }

  &__img {
    aspect-ratio: 1;
    width: 150px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__desc {
    min-width: 25ch;
  }

  &__tools-wrapper {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
  }

  &__tool {
    aspect-ratio: 1;
    width: 50px;
  }
}
