@use '../../scss/abstracts' as *;

.divider-left,
.divider-right {
  color: map-get($secondary, 500);
  border-bottom: $spacer-r * 0.2 ridge map-get($secondary, 500);
  border-radius: 50 rem;
  width: 80vw;
  margin-inline: auto;
  position: relative;

  &::after {
    position: absolute;
    color: inherit;
    font: var(--fa-font-solid);
    content: '\f591';
  }
}

.divider-right {
  &::after {
    right: 0;
    top: 0;
    transform: translate(90%, -100%);
  }
}

.divider-left {
  &::after {
    left: 0;
    top: 0;
    transform: translate(-90%, -100%) rotateY(180deg);
  }
}
