mixin academic_card(data)
  .academic-card
    img.academic-card__img(src=data.img_url, alt='institution_logo')
    .academic-card__details
      h3.academic-card__name= data.name
      p.academic-card__duration= data.duration
      .academic-card__place-wrapper
        each line in data.place
          p.academic-card__place.text-muted= line
