@forward 'nav/nav';
@forward 'hero/hero';
@forward 'about_me/about_me';
@forward 'skills/skills';
@forward "certifications/certifications";
@forward "projects/projects";
@forward "academics/academics";
