extends _base

block content
  header#header.initial-wrapper
    include sections/nav/_nav
    include sections/hero/_hero
  main#main.px-3.px-md-0
    include sections/about_me/_about_me
    include components/divider/_divider
    include sections/skills/_skills
    include components/divider/_divider
