@use 'abstracts' as *;
@use '../components';
@use '../sections';

.initial-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.section {
  width: 80vw;
  margin-inline: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $spacer-r;

  &--title {
    font-size: 2rem;
    font-weight: bold;
  }
}

main {
  display: flex;
  flex-direction: column;
  gap: $spacer-r * 2;
  margin-top: $spacer-r * 4;
}

.cards {
  // background-color: aquamarine;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  transition: all 100ms ease;
  border: 0.1rem solid map-get($primary, 400);

  @include mq(md) {
    &:hover {
      transform: translateY(-2%) scale(1.025);
    }
  }
}
