@use 'abstracts' as *;
@use '../components';
@use '../sections';

body {
  margin-bottom: 5rem;
}

.initial-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.section {
  width: 80vw;
  margin-inline: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $spacer-r;

  &--title {
    font-size: 2rem;
    font-weight: bold;
  }
}

main {
  display: flex;
  flex-direction: column;
  gap: $spacer-r * 2;
  margin-top: $spacer-r * 4;
}
